body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.quadrado{ 
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: red;
    animation: mover 1s cubic-bezier(0.075, 0.2, 0.65, 0.6) 4;
}

@keyframes mover {
    0%{
        left: 0;
    }
    50%{
        left: 40%;
    }
    100%{
        left: 0;
    }
}

