body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    animation: roda 3s infinite linear;

}
@keyframes roda {
    0%{
        transform: scale(0);
    }
    50%{
        background-color: aqua;
    }
    100%{
        transform: scale(1);
        background-color: black;
    }
    
}
