body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
div{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    animation: roda 2s infinite linear, pulsa 2s infinite linear;
   

}
@keyframes roda {
    0%{
        transform: rotate(-360deg);
    }
}
@keyframes pulsa {
    0%{
        width: 200px;
        height: 200px;
    }
    50%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 200px;
        height: 200px;
    }
}
